/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-image: url(../image/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.card {
    width: 400px;
    height: 550px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    text-align: center;
    
}

.card-header {
    background-color: #f89036;
    padding: 20px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 70%;
    border: 5px solid #f8f8f8;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card-body p {
    color: #ab710d;
}

button {
    background-color: #f89036;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    bottom: -50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #ad580e;
    color: rgb(255, 255, 255);
}
